* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/freddy-quiz-game-wp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  text-align: center;
  margin-top: 2em;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/freddy-game-invitation.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 250px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.548), 0 6px 20px 0 rgba(0, 0, 0, 0.527);
  margin-top: 7em;
  transition : all .5s;
  -wekit-transition : all .5s;
  -moz-transition : all .5s;
  /* display: none; */
}

form > input {
  padding: 1em 0.3em 1em 0.5em;
  margin-left: 3em;
  width: 250px;
  background-color: transparent;
  border: 0;
  font-family: 'Rubik Wet Paint', cursive;
  font-size: 25px;
  color: #3C312C;
}

input::placeholder {
  color: #3C312C;
}

.quiz-panel {
  background-color: #1B2634;
  width: 800px;
  margin: 0 auto;
  margin-top: 2em;
  border: solid 1px whitesmoke;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.548), 0 6px 20px 0 rgba(0, 0, 0, 0.527);
  transition : all .5s;
  -wekit-transition : all .5s;
  -moz-transition : all .5s;
  display: none;
}

#maskman {
  width: 100px;
  height: 120px;
  margin: 1em;
}

.instruction {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: azure;
}

#type-instruction {
  width: 620px;
  text-align: justify;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  line-height: 1.7;
  margin-top: 2em;
  margin-bottom: 2em;
}

.initiate-game {
  width: 100%;
  text-align: center;
  margin-top: 2em;
  display: none;
}

.letsgo {
  cursor: pointer;
  background-color: #F44589;
  border: 0;
  padding: 1em;
  color: azure;
  font-family: 'Press Start 2P', cursive;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.548), 0 6px 20px 0 rgba(0, 0, 0, 0.527);
}

.questions-panel {
  background-color: #1B2634;
  width: 800px;
  margin: 0 auto;
  margin-top: 2em;
  border: solid 1px whitesmoke;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.548), 0 6px 20px 0 rgba(0, 0, 0, 0.527);
  transition : all .5s;
  -wekit-transition : all .5s;
  -moz-transition : all .5s;
  display: none;
  font-family: 'Press Start 2P', cursive;
}

#question-counter {
  width: 620px;
  text-align: justify;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  line-height: 1.7;
  margin-top: 2em;
  margin-bottom: 2em;
}

.answer {
  background-color: #F44589;
  color: white;
  border: 0;
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}

.triangle {
  background-color: #B73229;
  color: white;
  border: 0;
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}

.star {
  background-color: #E6A901;
  color: white;
  border: 0;
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}

.umbrella {
  background-color: #015DB0;
  color: white;
  border: 0;
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}

.quiz-number {
  margin-top: 2em;
}

.option {
  margin-bottom: 2em;
}